---
import { ClientRouter } from "astro:transitions";
import getPageTitle from "@/utils/get-page-title";
import log from "@/utils/log";
import "@/global.less";

// ============================================================================

// const matches = import.meta.glob("@/pages/**/*.astro");
// log(new URL(Astro.request.url).pathname);

// ============================================================================

type Props = {
    showFrame?: boolean;
    title?: string | string[];
};
const { showFrame = true, title } = Astro.props;
---

<!doctype html>
<html lang="zh-CN">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <meta name="color-scheme" content="only dark" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="generator" content={Astro.generator} />
        <title>{getPageTitle(title)}</title>
        <ClientRouter />
    </head>
    <body>
        {
            showFrame ? (
                <div class="root">
                    <aside>
                        <h1>FLY-DBH Studio</h1>
                        {[
                            ["/", "HOME"],
                            ["/flight-sim", "FLIGHT SIM"],
                            // ["/stream-overlays/waiting-room", "WAITING ROOM"],
                        ].map(([route, name]) => (
                            <a
                                href={route}
                                class:list={{
                                    "is-active": Astro.originPathname === route,
                                }}
                            >
                                {name}
                            </a>
                        ))}
                    </aside>
                    <main>
                        {title && (
                            <header class="sticky-title">
                                <h1>{title}</h1>
                            </header>
                        )}
                        <slot />
                    </main>
                </div>
            ) : (
                <slot />
            )
        }
    </body>
</html>

<style lang="less">
    @import "./Layout.module.less";
</style>
